{% load static %}
<<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<link rel="stylesheet" href="{% static "/main_site/main_site.css" %}"></link>

</head>

<nav class="navbar navbar-dark"style="background-color: #001515;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"  style=" color: #41e7a9;" href="{% url 'home' %}">Harry Watton</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a style="background-color: #001515; color: #41e7a9;" href="{% url 'about' %}">About <span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a style="background-color: #001515; color: #41e7a9;" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects<span class="caret"></span></a>
          <ul class="dropdown-menu" style="background-color: #001515; color: #41e7a9;">
            <li><a style="background-color: #001515; color: #41e7a9;"href="#">Graphic design / animation</a></li>
            <li><a style="background-color: #001515; color: #41e7a9;"href="#">Data visualisation</a></li>
            <li><a style="background-color: #001515; color: #41e7a9;"href="#">Grid project</a></li>

          </ul>
        </li>
      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{% block style %}

{% endblock %}

<script src="https://d3js.org/d3.v6.min.js"></script>

{% block content %}

{% endblock %}

{% block script %}

{% endblock %}




<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
